<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataToolUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataToolUI.My.MySettings>
            <setting name="DataToolPath" serializeAs="String">
                <value>C:\ToolchainOW\DataTool.exe</value>
            </setting>
            <setting name="ExportFolderPath" serializeAs="String">
                <value>D:\Overwatch</value>
            </setting>
            <setting name="OverwatchPath" serializeAs="String">
                <value>C:\Overwatch</value>
            </setting>
        </DataToolUI.My.MySettings>
    </userSettings>
</configuration>
